body{
  margin: 0;
  text-align: center; /* Will Center everything inside */
  font-family: "Merriweather",serif;
}

h1 {
  margin-top: 0;
  font-family: 'Great Vibes', cursive;
}


/************************* Classes **************************/
.top-box {
  background-color: #E4F9f5;
  position: relative;
  padding-top: 100px; /* Pushes everything down 100px */
}

.middle-box {

  position: relative;
}

.bottom-box {

  position: relative;
}

.bottomCloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.topCloud{
  position: absolute;
  right: 300px;
  top: 50px;

}
